/* 
    Created on : 21-Mar-2015, 19:10:59
    Author     : Juan Wang 13008700
*/

body {
    font-family: arial, "Comic Sans MS", calibri, sans-serif;
    }
   
    #main {
    border: solid 1px #eee;
    border-height:600px;
    width:1200px;
    height:800px;
    }
   
    .searchForm {
    display: inline-block;
    /*margin-left:400px;*/
    }
    
    #homeButton{
    margin-right:350px;
    }
   
    .bottomButtons{
    float:right;
    margin-right:30px;
    }
   

    .topButtons{
    float:right;
    }

    #container2 {
    width:1000px;
    height:660px;
    margin-left: 100px;
	margin-top:90px;
    }   
	
	#buttons{
	margin-left:90px;
	}
    h3, h4 {
    padding-left:30px;  
    }  
    
    